---

local:
  hosts:
    localhost
  vars:
    ansible_connection: local
    email: {{ email }}
    hostname: {{ hostname }}
    {%- if ssh_key_types_to_generate != 'None' %}

    ssh_keys:
  {% for item in ssh_keys['results'] %}
  {{ item['stdout'] | indent(width=2, first=True) }}
  {% endfor %}
    {%- endif %}
