[alias]
  co = checkout
  graph = log --oneline --decorate --graph --all
  history = log --full-history --
  last = log -1 HEAD --stat
  ll = log --oneline
  s = switch
  sb = status -sb
  search = !git rev-list --all | xargs git grep -F
  showtag = !git --no-pager tag -l --sort=v:refname | tail -n -1
  std = stash drop
  stp = stash pop
  stu = stash --include-untracked
  tags = tag -l --sort=v:refname
  unstage = reset HEAD --
  upstream = !git branch --show-current | xargs -I{} git branch --set-upstream-to origin/{} {}
  wtl = worktree list
[core]
  excludesfile = {{ ansible_user_dir }}/.gitignore
  editor = vim
  pager = delta
[delta]
  syntax-theme = Solarized (light)
  navigate = true
  line-numbers = true
[help]
  autocorrect = 20
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[user]
  name = {{ ansible_user_gecos }}
  email = {{ email }}