highlight colorcolumn     ctermbg=231
highlight GitGutterAdd    cterm=bold        ctermfg=33
highlight GitGutterChange cterm=bold        ctermfg=136
highlight GitGutterDelete cterm=bold        ctermfg=160
highlight Search          ctermbg=DarkBlue  ctermfg=231
highlight! link SignColumn LineNr

let g:airline_skip_empty_sections = 1
let g:airline_theme='sol'
let g:airline#extensions#tabline#enabled = 1
let g:airline#extensions#tabline#fnamemod = ':t'
let g:indentLine_char = '│'
let g:indentLine_color_term = 254
let g:netrw_winsize = 30
let g:vim_json_conceal = 0

map <C-n> :NERDTreeToggle<CR>
nnoremap <silent> <Space> :nohlsearch<Bar>:echo<CR>

set background=light
set backspace=indent,eol,start
{% if 'MacOSX' in ansible_distribution -%}
set clipboard=unnamed
{% endif -%}
set colorcolumn=100
set cursorline
set hlsearch incsearch
set laststatus=2
set linebreak
set mouse=a
set number relativenumber
set novisualbell noerrorbells
set scrolloff=4
set showmatch
set tabstop=2 shiftwidth=2 expandtab smarttab autoindent
set term=screen-256color
set ttimeoutlen=10
set updatetime=100

syntax on

" allow mouse to work inside tmux
if exists('$TMUX')
  set ttymouse=xterm2
endif

" use hybrid line numbering by default with automatic toggling
augroup numbertoggle
  autocmd!
  autocmd BufEnter,FocusGained,InsertLeave * set relativenumber
  autocmd BufLeave,FocusLost,InsertEnter   * set norelativenumber
augroup END
